<html>

<head>

<link rel="stylesheet" type="text/css" href="./node_modules/bulma/css/bulma.css">
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="https://simplewebrtc.com/latest-v2.js"></script>

</head>

<body>

  <div id="app">
  <section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        {{ message }}
      </h1>
    </div>
  </div>
</section>

  <div v-if="!room_id && !peerIsReady" class="container has-text-centered">
  <!-- Button -->
  <br><br><br><a v-on:click="invite"
  class="button is-medium is-primary">Invite Peer</a>

  <!-- product copy -->
  <p><br><br>This is a secure app to transfer files from peer to peer.</p>
  <p><br>There is NO third party and NO security risk!</p>
  <p><br>Click the button to send an email invitation to the file recipient!</p>

  </div>

  <!-- Loading page to show after room id is generated (Hide previous)-->
  <div v-if="room_id && !peerIsReady" class="container has-text-centered">

  <p><br><br><br>Waiting on peer to respond!<br><br><br></p>

  <!-- Spinner icon -->
  <span class="icon is-large has-text-primary">
    <i class="fas fa-spinner fa-3x fa-pulse"></i>
  </span>

  </div>

  <!-- File upload page to show when peer is ready (Hide previous)-->
  <section class="section">
    <div v-if="peerIsReady" class="content has-text-centered">

      <h2><br><br><br>Connection complete!<br><br></h2>
      <p>Your peer has connected! Now choose the file you would like to transfer.<br><br></p>
      <input type = "file" @change = "onFileChange"><br><br><br>
      <!-- Progress bar...figure out how to adjust width of bar or padding -->
      <div v-for="sentFile in sentFiles">
        <div>
          <p>{{ sentFile.name }}</p>
          <progress class="progress is-primary" v-bind:value="sentFile.bytesSent" v-bind:max="sentFile.size"></progress>
        </div>
      </div>
      <!-- Fancy (weird) styling -->

      <!-- <label class="file-label">
      <input class="file-input" type="file" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Choose a file…
        </span>
      </span>
    </label> -->

    </div>
  </section>

</div>

<!-- Vue app & Javascript -->
  <script>
  var app = new Vue({
  el: "#app",
  data: {
    peer: null,
    peerIsReady: null,
    webrtc: null,
    message: "File Transfer",
    room_id: window.location.pathname.startsWith("/rooms/")
      ? window.location.pathname.replace("/rooms/", "")
      : null,
    sentFiles: []
  },

  created: function() {
    if (this.room_id) this.initWebRtc(false);
  },

  methods: {
    invite: function(event) {
      this.room_id = Math.random().toString();
      const url = `Join transfer: ${window.location}rooms/${this.room_id}`;
      //console.log(url);
      const body = encodeURI(
        `Hello,\n\n I would like to send you a file using File Transfer, a secure website for peer-to-peer file transfers. Please click the invite link below to complete the transfer!\n\n${url}\n\nThank you!`
      );
      const subject = "File Transfer Request";
      event.srcElement.href = `mailto:user@example.com?subject=${subject}&body=${body}`;
      window.history.pushState({}, "", `rooms/${this.room_id}`);
      // create our webrtc connection
      this.initWebRtc(true);
    },
    initWebRtc: function(createRoom) {
      console.log("created");
      this.webrtc = new SimpleWebRTC({
        // we don't do video
        localVideoEl: "",
        remoteVideosEl: "",
        // dont ask for camera access
        autoRequestMedia: false,
        // dont negotiate media
        receiveMedia: {
          offerToReceiveAudio: false,
          offerToReceiveVideo: false
        }
      });
      console.log(this.webrtc); // called when a peer is created
      this.webrtc.on("createdPeer", peer => {
        //arrow functions
        console.log("Created peer was called", peer);
        this.peer = peer;
        this.peer.pc.on("iceConnectionStateChange", event => {
          const state = peer.pc.iceConnectionState;
          this.peerIsReady = state == "connected" || state == "completed";
          console.log("iceConnectionStateChange", state);
        });
      });
      if (createRoom)
        this.webrtc.createRoom(this.room_id, (err, name) => {
          console.log("create room", err, name);
        }); //callback methods
      else
        this.webrtc.joinRoom(this.room_id, (err, name) => {
          console.log("join room", err, name);
        }); //callback methods
    },
    onFileChange: function(event) {
      console.log(event);
      const sender = this.peer.sendFile(event.srcElement.files[0]);
      this.sentFiles.unshift({
        name: event.srcElement.files[0].name,
        bytesSent: 0,
        size: event.srcElement.files[0].size
      });
      sender.on("progress", bytesSent => {
        this.sentFiles[0].bytesSent = bytesSent;
        console.log(bytesSent);
      });
    }
  }
});
</script>



</body>
</html>
